<ng-container *ngIf="nodes$ | async as nodes">
    <app-folder-actions [activeNode]="nodes[1]"></app-folder-actions>

    <p-tree
        [value]="nodes[0]"
        styleClass="w-full md:w-[30rem]"
        selectionMode="single"
        [draggableNodes]="true"
        [droppableNodes]="true"
        [validateDrop]="true"
        [metaKeySelection]="false"
        draggableScope="self"
        droppableScope="self"
        (onNodeDrop)="onNodeDrop($event)"
        (onNodeSelect)="select($event)"
        (onNodeUnselect)="unselect()"
    ></p-tree>
</ng-container>
