body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

app-header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.main-content {
    display: flex;
    flex: 1;
}

app-sidebar {
    width: 500px;
    background-color: #f4f4f4;
    padding: 10px;
}

.content {
    flex: 1;
    padding: 10px;
    background-color: #fff;
}